@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@600&display=swap');
body {
    font-family: Kanit;
    position: absolute;
    width: 500px;
    height: 500px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }